<app-blank pageName="Siparişler" [routes]="['Siparişler']">
    <app-section sectionTitle="Sipariş Listesi">
        <div class="form-group row">
            <div class="col-9">
                <button class="btn btn-dark" data-toggle="modal" data-target="#createModal">
                    <i class="fa-solid fa-plus me-1"></i>
                    Sipariş Ekle
                </button>
            </div>

            <div class="col-3">
                <input type="search" [(ngModel)]="search" class="form-control" placeholder="ARA...">
            </div>
        </div>

        <div class="form-group mt-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>TARİH</th>
                        <th>SİPARİŞ NUMARASI</th>
                        <th>MÜŞTERİ</th>
                        <th>TESLİM TARİHİ</th>
                        <th>İŞLEMLER</th>
                    </tr>
                </thead>
                <tbody>
                    @for (order of orders | order: search; track order) {
                    <tr>
                        <td>{{ $index + 1 }}</td>
                        <td>{{ order.date }}</td>
                        <td>TS{{ order.orderNumberYear }}{{ order.orderNumber }}</td>
                        <td>{{ order.customer }}</td>
                        <td>{{ order.deliveryDate }}</td>
                        <td>
                            <button data-toggle="modal" data-target="#updateModal" (click)="get(order)" class="btn btn-outline-warning btn-sm">
                                <i class="fa-solid fa-edit"></i>
                            </button>
                            <button (click)="deleteById(order)" class="btn btn-outline-danger btn-sm ml-5px">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </app-section>
</app-blank>
